body {
    padding: 4px;
    margin: 24px;
    font-size: 20px;
}

header {
    padding: 12px 42px;
    background-color: rgb(153, 198, 245);
    /* Use local background image if available,
       otherwise use original image source. */
    /* background-image: url("../images/flywheel.jpg"); */
    background-image: url(" http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
    background-size: cover;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
}

nav a {
    display: inline-block;
    width: 17%;
    padding: 20px 0px;
    border-radius: 4px;
    margin: 2px 3% 42px 3%;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(0,0,0);
    text-align: center;
    text-decoration: none;
}

.active {
    background-color: rgb(255, 255, 255);
    flex-direction: ;
}

.left {
    float: left;
    width: 20%;
    padding: 0 0 120px 0;
    background-color: rgb(119, 118, 19);
}

.left img {
    display: block;
    width: 75%;
    border: 2px solid rgb(0, 0, 0);
    margin: 40px auto;
}

.right {
    float: right;
    width: 78%;
}
